# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\RodrigoSalad\Rodrigo\UTEC\ciclo-V2021\POO2\proyecto\semana6\CustomBreaker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
